<h1 align="center">Admin Dashboard</h1>
<table class=" table table-dark table-striped table-bordered" align="center">
  <tr class="black text-black">
    <th>Email</th>
    <th>Role</th>
    <th>Show Album</th>
    <th>Action</th>
  </tr>
  <% @users.each do|user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.role %></td>
      <td align="center"><%= link_to 'Show'.html_safe, admin_dashboard_path(user), :class => "btn btn-success" %></td>
      <td align="center"><%= link_to 'Delete'.html_safe, admin_dashboard_path(user), :class => "btn btn-danger",
              method: :delete,
              data: {confirm: 'Are you sure ?'} %></td>
    </tr>
  <% end %>
</table>

<div class="pull-right">
<p align="top">
  <%= link_to('Logout', destroy_user_session_path, :method => :delete, :class => "button btn btn-danger" )%>
</p>
</div>